html, body {
	margin: 0;
	padding: 5px; 
}
canvas { 
    border: 1px solid black;
    margin-bottom: 10px;
    margin-top: 10px; 
}
.row {
	display: flex;
	flex-direction: row;
}
.panel {
	margin-left: 10px;
	margin-right:  10px;
}
.image-container {
	width: 100px;
	height: 200px;
}